<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>134472178945-19mijdkmk4hvvkmhm2mdb1t02mkj565l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.134472178945-19mijdkmk4hvvkmhm2mdb1t02mkj565l</string>
	<key>API_KEY</key>
	<string>AIzaSyCN0v_h91fcQ4i9vak_pdNoyzl10a2nrw0</string>
	<key>GCM_SENDER_ID</key>
	<string>134472178945</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myapp</string>
	<key>PROJECT_ID</key>
	<string>mynote-auth</string>
	<key>STORAGE_BUCKET</key>
	<string>mynote-auth.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:134472178945:ios:90cdc34623307dafe98f00</string>
</dict>
</plist>